{% extends 'userhome.html' %}
{% block content %}
<div class="card">
<form method="post" enctype="multipart/form-data" style="color:black;margin-left:100px;">
    {% csrf_token %}
    {% for i in data %}
<!--    <img src="{{i.image.url}}" width="150" height="160">-->
    <img src="{{i.image.url}}" width="200px" height="180px">
    <p>Name : {{i.name}}</p>
    <p>Age : {{i.age}}</p>
    <p>Gender : {{i.gender}}</p>
    <p>Phone : {{i.phone}}</p>
    <p>Address : {{i.address}}</p>
<!--    <a href="{% url 'profileupdate' i.id %}"><button class="btn btn-primary" type="submit">UPDATE</button> </a>-->
    <a href="{% url 'profileupdate' i.id %}" class="btn btn-primary">UPDATE</a>
    {% endfor %}
</form>
</div>
{% endblock %}
